.pageOne {
background: url(images/emile-perron-190221.jpg) no-repeat;
background-size: contain;
height: 960px;
margin-top: -20px;
width: 100%;
}

#pageAbout{
color: #fff;
/*border: 2px solid red;*/

}


.pageTwo {
height: 480px;
background-color: white;
background-size: cover;

}



.portfolio-title {
	font-size: 50px;
}

