#pageAbout {
background: url(images/emile-perron-190221.jpg) no-repeat center fixed;
background-size: cover;
height: 960px;
margin-top: -20px;
width: 100%;
color: white;
}

#pagePortfolio {
	margin-top: 40px;
}




.pageOne {
	margin-top: 80px;
}

.pageTwo h1 {
	margin-bottom: 40px;
}

.pageThree {
	height: 430px;
	margin-top: 30px;
}

#bio {
	margin-top: 30px;
}

.thumbnail {
	margin-bottom: 10px;
}


.social {
font-size: 40px;
}

.fa {
margin: 30px;
}

